<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home::head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div th:replace="~{/home::nav}"></div>
<span th:text="${msg}" style="color:red;"></span>
<div class="container-fluid">
    <h1 class="text-center my-3">LIST CONTRACT</h1>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDetailContract"
            data-bs-whatever="@mdo">ADD NEW CONTRACT
    </button>
    <table class="table table-striped table-bordered text-center" style="width:100%" id="furama">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Dịch vụ</th>
            <th scope="col">Khách hàng</th>
            <th scope="col">Ngày bắt đầu</th>
            <th scope="col">Ngày kết thúc</th>
            <th scope="col">Tiền đặt cọc</th>
            <th scope="col">Tổng Tiền</th>
            <th scope="col" rowspan="2">Các dịch vụ đi kèm</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="stt,status: ${contracts}">
            <td th:text="${status.count}"></td>
            <td th:text="${stt.facilityName}"></td>
            <td th:text="${stt.customerName}"></td>
            <td th:text="${stt.startDate}"></td>
            <td th:text="${stt.endDate}"></td>
            <td th:text="${stt.deposit}"></td>
            <td th:text="${stt.total}"></td>
            <td>
                <button type="button" th:attr="onclick=|getInfoContract('${stt.contractId}')|" class="btn btn-primary"
                        data-bs-toggle="modal" data-bs-target="#addAttachFacility"
                        data-bs-whatever="@mdo">+
                </button>
                <button type="button" th:attr="onclick=|getInfoAttachDetail('${stt.contractId}')|"
                        class="btn btn-primary"
                        data-bs-toggle="modal" data-bs-target="#showService"
                        data-bs-whatever="@fat">Hiển thị danh sách dịch vụ
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="addDetailContract" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="vh-100" method="post" th:object="${contract}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add detail contract</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" th:field="*{id}" id="newContractId" hidden>
                        <div class="mb-3">
                            <div class="input-group date" id="startDatepicker"></div>
                            <label class="form-label">Start date</label>
                            <input th:field="*{startDate}" type="date" id="newStartDate" class="form-control">
                        </div>
                    <div class="mb-3">
                        <label class="form-label">End date</label>
                        <div class="input-group date" id="endDatepicker"></div>
                        <input type="date" th:field="*{endDate}" id="newEndDate" class="form-control">
                    </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Deposit</label>
                        <input th:field="*{deposit}" type="number" id="newDeposit" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Total</label>
                        <input class="form-control" id="newTotal" type="text" aria-label="Disabled input example"
                               readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Customer</label>
                        <select id="newCustomer" th:field="*{customer}" class="form-select"
                                aria-label="Default select example">
                            <option th:each="cus:${customers}" th:value="${cus.id}" th:text="${cus.name}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Facility</label>
                        <select id="newFacility" th:field="*{facility}" class="form-select"
                                aria-label="Default select example">
                            <option th:each="fac:${facilities}" th:value="${fac.id}" th:data-cost="${fac.cost}"
                                    th:text="${fac.name}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Employee</label>
                        <select id="newEmployee" th:field="*{employee}" class="form-select"
                                aria-label="Default select example">
                            <option th:each="e:${employees}" th:value="${e.id}" th:text="${e.name}"></option>
                        </select>
                    </div>
                    <div class="mb-3" id="tableAttachFacility">
                        <table class=" table table-striped table-bordered text-center">
                            <thead>
                            <tr>
                                <th class='text-center' scope="col">STT</th>
                                <th class='text-center' scope="col">Attach facility</th>
                                <th class='text-center' scope="col">Quantity</th>
                                <th class='text-center' scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody id="attachFacilityTable">
                            <tr>
                                <td class='text-center' colspan="4">Danh Sách Trống</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Attach facility</label>
                        <button type="button" class="btn btn-light" data-bs-toggle="modal"
                                data-bs-target="#AttachFacility">
                            <img src="https://img.icons8.com/offices/30/null/plus-2-math.png"/>
                        </button>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary" onclick="addContract()" data-bs-dismiss="modal">Save</button>
<!--                    <button type="button" data-bs-dismiss="modal" class="btn btn-primary" onclick="addContract()">Save-->
<!--                        changes-->
<!--                    </button>-->
                </div>

    </div>
        </form>
    </div>
</div>
<!---------------------------------Thêm mới dịch vụ đi kèm------------------------------>
<div class="modal fade" id="addAttachFacility" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/createContractDetail}" method="post" th:object="${contractDetail}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add attach facility</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="number" th:field="*{id}" hidden>
                    <select th:field="*{attachFacility}" class="form-select" aria-label="Default select example">
                        <option th:each="att:${attachFacilities}" th:value="${att.id}" th:text="${att.name}"></option>
                    </select>
                    <div class="mb-3">
                        <label class="form-label">Quantity</label>
                        <input th:field="*{quantity}" type="number" class="form-control">
                    </div>
                    <input id="contractId" th:field="*{contract}" hidden type="number" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!---------------------------showAttach-Detail---------------------------------->
<div class="modal fade" id="showService" tabindex="-1" aria-labelledby="showService" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Hiển Thị Dịch Vụ Đi Kèm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="showAttach" class="table text-center">
                </table>
                <span id="show">Dịch vụ đi kèm trống</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!---------------------------------Thêm mới dịch vụ đi kèm-Contract------------------------------>
<div class="modal fade" id="AttachFacility" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" th:object="${contractDetail}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add attach facility</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="md-3">
                        <select th:field="*{attachFacility}" id="idAttachFacility" class="form-select"
                                aria-label="Default select example">
                            <option th:each="attachFacility:${attachFacilities}" th:value="${attachFacility.id}"
                                    th:data-cost="${attachFacility.cost}" th:text="${attachFacility.name}"
                                    th:id="${'name_' + attachFacility.id}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Quantity</label>
                        <input id="newQuantity" type="number" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="addContract" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<div th:replace="~{/home::footer}"></div>
<!------------------------------Thông báo lỗi ngày hợp đồng------------------------------>
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="errorModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </button>
            </div>
            <div class="modal-body">
                <!-- Error message will be displayed here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Thông báo thành công tạo hợp đồng-->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" >Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </button>
            </div>
            <div class="modal-body">
                <p class="text-primary">Bạn đã tạo hợp đồng thành công</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function getInfoContract(id) {
        document.getElementById("contractId").value = id;
    }

    function getInfoAttachDetail(id) {
        $("#show").show();
        $("#showAttach").empty();
        $.ajax({
            url: "http://localhost:8080/api/contract/" + id,
            type: "GET",
            dataType: "json",
            success: function (data) {
                if (data.length > 0) {
                    $("#show").hide();
                    let tr = [];
                    tr.push("<tr>");
                    tr.push("<th>" + "Tên dịch vụ đi kèm" + "</th>");
                    tr.push("<th class='px-5'>" + "Đơn vị" + "</th>");
                    tr.push("<th class='text-center'>" + "Giá" + "</th>");
                    tr.push("<th class='text-center'>" + "Trạng Thái" + "</th>");
                    tr.push("<th class='text-center'>" + "Số lượng" + "</th>");
                    tr.push("</tr>");
                    for (let i = 0; i < data.length; i++) {
                        tr.push("<tr>");
                        tr.push("<td class='text-primary h6'>" + data[i].nameAttach + "</td>");
                        tr.push("<td class='text-primary px-5'>" + data[i].unit + "</td>");
                        tr.push("<td class='text-primary text-center'>" + data[i].cost + "</td>");
                        tr.push("<td class='text-primary text-center'>" + data[i].status + "</td>");
                        tr.push("<td class='text-primary text-center'>" + data[i].quantity + "</td>");
                        tr.push("</tr>");
                    }
                    $("#showAttach").html(tr.join(""));
                }
            }
        })
    }

    class AttachFacility {
        getAttachFacilityId() {
            return this.attachFacilityId;
        }

        setAttachFacilityId(value) {
            this.attachFacilityId = value;
        }

        getQuantity() {
            return this.quantity;
        }

        setQuantity(value) {
            this.quantity = value;
        }

        getAttachFacilityName() {
            return this.attachFacilityName;
        }

        setAttachFacilityName(value) {
            this.attachFacilityName = value;
        }

        constructor(attachFacilityId, name, quantity) {
            this.attachFacilityId = attachFacilityId;
            this.attachFacilityName = name;
            this.quantity = quantity;
        }
    }

    debugger
    let attachFacilityArr = []
    $('#addContract').click(function () {
        $(document).ready(function () {
            $('#AttachFacility').modal('hide');
        })
        let attachFacilityId = document.getElementById("idAttachFacility").value;
        let quantity = document.getElementById("newQuantity").value;
        let attachFacilityName = $(`#name_${attachFacilityId}`).text();
        attachFacility = new AttachFacility(attachFacilityId, attachFacilityName, quantity)
        attachFacilityArr.push(attachFacility)
        showAllAttachFacility()
    })

    function showAllAttachFacility() {
        let table = "";
        for (let i = 0; i < attachFacilityArr.length; i++) {
            table += `"<tr>"+"<td class='text-primary text-center'>${i + 1}</td>"+"<td class='text-primary text-center'>${attachFacilityArr[i].attachFacilityName}</td>
"+"<td class='text-primary text-center'>${attachFacilityArr[i].quantity}</td>"+"<td> <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#remove"
                    onclick="deleteFacility('${i}')">
                <img src="https://img.icons8.com/ios-glyphs/1x/delete-forever.png">
            </button></td>"+"</tr>"`;
        }

        $('#attachFacilityTable').html(table);
    }

    $('#addDetailContract').on('hidden.bs.modal', function () {
        $(this).find('form').trigger('reset');
        // $('#attachFacilityTable').html('');
    })

    function addContract() {
        let contractAndAttachFacility = []
        let startDateValue = document.getElementById("newStartDate").value;
        let endDateValue = document.getElementById("newEndDate").value;
        let customerId = document.getElementById("newCustomer").value;
        let employeeId = document.getElementById("newEmployee").value;
        let facilityId = document.getElementById("newFacility").value;
        let deposit = document.getElementById("newDeposit").value;


        let customer = {
            id: customerId
        }
        let employee = {
            id: employeeId
        }
        let facility = {
            id: facilityId
        }
        let contract = {
            startDate: startDateValue,
            endDate: endDateValue,
            customer: customer,
            employee: employee,
            facility: facility,
            deposit: deposit
        }
        if (attachFacilityArr.length > 0) {
            for (let i = 0; i < attachFacilityArr.length; i++) {
                let newAttachFacility = {
                    id: attachFacilityArr[i].attachFacilityId,
                    name: attachFacilityArr[i].attachFacilityName
                }
                let newContractDetail = {
                    contract: contract,
                    attachFacility: newAttachFacility,
                    quantity: attachFacilityArr[i].quantity
                }
                contractAndAttachFacility.push(newContractDetail)
            }
        } else {
            let newContractDetail = {
                contract: contract
            }
            contractAndAttachFacility.push(newContractDetail)
        }
        // So sánh ngày bắt đầu và kết thúc hợp đồng
        let startDate = new Date(startDateValue);
        let endDate = new Date(endDateValue);
        let diff = endDate.getTime() - startDate.getTime();
        let diffInDays = diff / (1000 * 3600 * 24);
        debugger
        if (diffInDays < 1) {
            showErrorModal('Ngày bắt đầu hợp đồng phải nhỏ hơn ngày kết thúc hợp đồng 1 ngày');
            return;
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            data: JSON.stringify(contractAndAttachFacility),
            url: "http://localhost:8080/api/contract/create",
            success: function (data) {
                sessionStorage.setItem("flagCreateContract",true);
                window.location.reload();
            },
            // error: function(jqXHR, textStatus, errorThrown) {
            //     $('#errorModal').modal('show');
            //     $('#errorMessage').text(jqXHR.responseJSON.message);
            // }
        })
    }

    function showErrorModal(errorMessage) {
        $('#errorModal .modal-body').html(errorMessage);
        $('#errorModal').modal('show');
    }

    function deleteFacility(id) {
        attachFacilityArr.splice(id, 1);
        showAllAttachFacility();
    }

    $(document).ready(function () {
        // Lắng nghe sự kiện input trên các ô input
        $('#newStartDate, #newEndDate, #newDeposit, #newFacility,#newQuantity,#idAttachFacility').on('input', function () {
            // Lấy giá trị của các ô input
            let startDate = new Date($('#newStartDate').val());
            let endDate = new Date($('#newEndDate').val());
            let deposit = parseInt($('#newDeposit').val());
            let facilityCost = parseInt($('#newFacility option:selected').data('cost'));
            let quantity = parseInt($('#newQuantity').val());
            let attachFacilityCost = parseInt($('#idAttachFacility option:selected').data('cost'));

            // Tính toán số ngày thuê
            let days = Math.ceil((endDate - startDate) / (1000 * 60 * 60 * 24));

            // Tính toán tổng tiền
            let total = days * facilityCost + quantity * attachFacilityCost - deposit;

            // Gán giá trị cho ô input Total
            $('#newTotal').val(total);
        });
    });
    debugger
    // $(document).ready(function()  {
    //         $('#newStartDate').datepicker({
    //             dateFormat: 'dd/mm/yyyy',
    //             changeMonth:true,
    //         });
    //
    //         $('#newEndDate').datepicker({
    //             dateFormat: 'dd/mm/yyyy',
    //             changeMonth:true,
    //         });
    //
    // });
    $(document).ready(function () {
        if (sessionStorage.getItem("flagCreateContract")){
            $('#successModal').modal('show');
        }
        sessionStorage.removeItem("flagCreateContract");
    })
</script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</html>
