<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home::head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div th:replace="~{/home::nav}"></div>
<span th:text="${msg}" style="color:red;"></span>
<h1 class="text-center my-3">LIST CONTRACT</h1>

<a th:href="@{/customer/create}">
    <button class="btn btn-primary">ADD NEW CUSTOMER</button>
</a>
<table class="table table-striped table-bordered text-center" style="width:100%" id="furama">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Dịch vụ</th>
        <th scope="col">Khách hàng</th>
        <th scope="col">Ngày bắt đầu</th>
        <th scope="col">Ngày kết thúc</th>
        <th scope="col">Tiền đặt cọc</th>
        <th scope="col">Tổng Tiền</th>
        <th scope="col" rowspan="2">Các dịch vụ đi kèm</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr th:each="stt,status: ${contracts}">
        <td th:text="${status.count}"></td>
        <td th:text="${stt.facilityName}"></td>
        <td th:text="${stt.customerName}"></td>
        <td th:text="${stt.startDate}"></td>
        <td th:text="${stt.endDate}"></td>
        <td th:text="${stt.deposit}"></td>
        <td th:text="${stt.total}"></td>
        <td>
            <button type="button"  th:attr="onclick=|getInfoContract('${stt.contractId}')|" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAttachFacility"
                    data-bs-whatever="@mdo">+
            </button>
            <button type="button" th:attr="onclick=|getInfoAttachDetail('${stt.contractId}')|" class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#showService"
                    data-bs-whatever="@fat">Hiển thị danh sách dịch vụ
            </button>
        </td>
    </tr>
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="addDetailContract" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add detail contract</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="vh-100">
                    <div class="mb-3">
                        <label class="form-label">Start date</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">End date</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Deposit</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Total</label>
                        <input class="form-control" type="text" aria-label="Disabled input example" disabled readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Customer</label>
                        <select class="form-select" aria-label="Default select example">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Service</label>
                        <select class="form-select" aria-label="Default select example">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Attach facility</label>
                        <button type="button" class="btn btn-light" data-bs-toggle="modal"
                                data-bs-target="#addAttachFacility">
                            <img src="https://img.icons8.com/offices/30/null/plus-2-math.png"/>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addAttachFacility" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add attach facility</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{furama/createContractDetail}"th:object="${contractDetail}">

                    <select th:field="*{id}" class="form-select" aria-label="Default select example">
                        <option value="${attachFacility.id}">${attachFacility.name}</option>
                    </select>

                    <div class="mb-3">
                        <label class="form-label">Quantity</label>
                        <input type="number" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!---------------------------showAttach-Detail---------------------------------->
<div class="modal fade" id="showService" tabindex="-1" aria-labelledby="showService" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Hiển Thị Dịch Vụ Đi Kèm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="showAttach" class="table text-center">
                </table>
                <span id="show">Dịch vụ đi kèm trống</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{/home::footer}"></div>
</body>
<script>
    function getInfoAttachDetail(id) {
        $("#show").show();
        $("#showAttach").empty();
        debugger
        $.ajax({
            url: "http://localhost:8080/api/contract/" + id,
            type: "GET",
            dataType: "json",
            success: function (data) {
                debugger
                if (data.length > 0) {
                    $("#show").hide();
                    let tr = [];
                    tr.push("<tr>");
                    tr.push("<th>" + "Tên dịch vụ đi kèm" + "</th>");
                    tr.push("<th class='px-5'>" + "Đơn vị" + "</th>");
                    tr.push("<th class='text-center'>" + "Giá" + "</th>");
                    tr.push("<th class='text-center'>" + "Trạng Thái" + "</th>");
                    tr.push("<th class='text-center'>" + "Số lượng" + "</th>");
                    tr.push("</tr>");
                    for (let i = 0; i < data.length; i++) {
                        tr.push("<tr>");
                        tr.push("<td class='text-primary h6'>" + data[i].nameAttach + "</td>");
                        tr.push("<td class='text-primary px-5'>" + data[i].unit + "</td>");
                        tr.push("<td class='text-primary text-center'>" + data[i].cost + "</td>");
                        tr.push("<td class='text-primary text-center'>" + data[i].status + "</td>");
                        tr.push("<td class='text-primary text-center'>" + data[i].quantity + "</td>");
                        tr.push("</tr>");
                    }
                    $("#showAttach").html(tr.join(""));
                    $("#showAttach").fadeIn(4000);
                }
            }
        })
    }
</script>
</html>
