<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button class="btn btn-primary"><a th:href="@{/blog}" style="color:white;">Back to List</a></button>

<div id="form" >
    <form th:action="@{/blog/save}" th:object="${blog}" method="post">
        <br>
        <label>BlogName:</label><input type="text" th:field="*{name}">
        <label>Content:</label>
        <input type="text" th:field="*{content}">
        <label>Category:</label>
        <select th:field="*{category}">
            <option th:each="cate : ${categoryList}"  th:value="${cate.id}" th:text="${cate.name}">
            </option>
        </select>
        <label>Author:</label>
        <input type="text" th:field="*{author}">
        <label>Date:</label>
        <input type="text" th:field="*{date}">
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>