<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button class="btn btn-primary"><a th:href="@{/product}" style="color:white;">Back to List</a></button>

<div id="form" >
    <form th:action="@{/product/save}" th:object="${product}" method="post">
        <label>ID:</label>
        <input hidden="hidden" type="number" th:field="*{id}">
        <br>
        <label>Name:</label><input type="text" th:field="*{name}">
        <label>Price:</label>
        <input type="text" th:field="*{price}">
        <label>Describe:</label>
        <input type="text" th:field="*{describe1}">
        <label>Producer:</label>
        <input type="text" th:field="*{producer}">
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>