<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button class="btn btn-primary"><a th:href="@{/book}" style="color:white;">Back to List</a></button>

<div id="form">
    <form th:action="@{/borrow}" th:object="${book}" method="post">
        <br>
        <label> Name:</label>
        <input type="text" th:field="*{name}" readonly>
        <input type="number" th:field="*{id}" hidden>
        <label>Author:</label>
        <input type="text" th:field="*{author}" readonly>
        <label>BookCode:</label>
        <input type="text" th:field="*{code}" readonly>
        <input type="text" th:field="*{quantity}" hidden>
        <input type="submit" value="Mượn">
    </form>
</div>
</body>
</html>